# ASP.NET Core / .NET
LearnAsYouGo/bin/
LearnAsYouGo/obj/
LearnAsYouGo/*.user
LearnAsYouGo/*.suo
LearnAsYouGo/*.userosscache

# Angular / Node
learn-as-you-go/dist/
learn-as-you-go/tmp/
learn-as-you-go/out-tsc/
learn-as-you-go/.bazel-out/
learn-as-you-go/.angular/cache/
learn-as-you-go/node_modules/
learn-as-you-go/npm-debug.log*
learn-as-you-go/yarn-error.log*

# IDEs / Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
learn-as-you-go/.vscode/*
LearnAsYouGo/.vscode/*
!learn-as-you-go/.vscode/settings.json
!learn-as-you-go/.vscode/tasks.json
!learn-as-you-go/.vscode/launch.json
!learn-as-you-go/.vscode/extensions.json
!LearnAsYouGo/.vscode/settings.json
!LearnAsYouGo/.vscode/tasks.json
!LearnAsYouGo/.vscode/launch.json
!LearnAsYouGo/.vscode/extensions.json
**/.history/


# Misc / system
learn-as-you-go/.sass-cache/
learn-as-you-go/connect.lock
learn-as-you-go/coverage/
learn-as-you-go/libpeerconnection.log
learn-as-you-go/testem.log
learn-as-you-go/typings/
learn-as-you-go/__screenshots__/

.DS_Store
Thumbs.db
