:host {
  background-color: var(--mat-sys-secondary-container);

  &.expanded {
    width: 25vw;
  }
}

.main-navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5vh;

  & .top-nav,
  & .bottom-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
  }
}