:host {
  background-color: var(--mat-sys-secondary-container);

  &.expanded {
    width: var(--width-side-bar-expanded);
  }
}

.main-navigation {
  height: var(--height-side-bar);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--padding-small);

  & .top-nav,
  & .bottom-nav {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
  }
}